<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Manager Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
		<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="/home">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/myEvents">My Registered Events</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/login?logout">Logout</a>
		</li>
	</ul>
	
	<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
	<h1>Events</h1>

    <table class="table table-striped">
		<tr>
		    <th>Event Name</th>
		    <th>Start Date</th>
		    <th>End Date</th>
		</tr>  
    	<tr th:each = "event : ${events}">
    		<td th:text="${event.name}"></td>
    		<td th:text="${event.startDate}"></td>
 			<td th:text="${event.endDate}"></td>    
 			<td><a th:href="@{/delete/{id}(id=${event.id})}" class="btn btn-danger">Delete</a></td>	
 			<td><a th:href="@{/edit/{id}(id=${event.id})}" class = "btn btn-warning">Edit</a></td>
 			<td><a th:href="@{/register/{id}(id=${event.id})}" class = "btn btn-info">Register</a></td>
 					
    	</tr>
     </table>  	
     <a href="/addEvent" class="btn btn-primary">Add Event</a>
</body>
</html>